h1.heading-text,
h2.heading-text,
h3.heading-text,
h4.heading-text,
h5.heading-text,
h6.heading-text {
  line-height: 1.1;
  font-weight: 600;
  color: white;
}
h1.heading-text {
  font-size: 1.8rem;
}
h2.heading-text {
  font-size: 1.6rem;
}

h3.heading-text {
  font-size: 1.4rem;
}

.paragraph {
  @apply text-[16px] text-white font-normal;
}
.image-editor {
  width: 300px;
  height: 100%;
}
.link-custom {
  text-decoration: underline;
  @apply text-indigo-500 cursor-pointer;
}
